
@media (min-width: 48em) {
    
    #menu {
        left: 150px;
    }
    .splash-head {
        font-size: 250%;
    }
}


@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}

