/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
.body {
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.13) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.13) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.12) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), rgba(226, 226, 226, 1);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0, #FFFFFF 2px, rgba(0, 0, 0, 0) 2px, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.13) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.12) 0, rgba(255, 255, 255, 0.298039) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 100%), rgba(226, 226, 226, 1);
    background-position: -1px -1px;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}
body {
    background-color: white;

}
body, #content, .content {
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px !important;
    max-height: 1080px !important;
}

.fontIcons {
    font-family: 'icon-so' !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: rgba(0,0,0,0.65);
    margin: 0 auto;
    z-index: 5;
    float: left;
    position: absolute;
    left: 20px;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2 {
    font-size: .85rem;
}
.dropdown {
    max-height: 0px;
    display: none;
    line-height: 100px;
    margin: 2px;
    transition: all 1s;
}

/* le bloc est visible lorsque la checkbox est cochée */

#toggle-block:checked + .dropdown,
#toggle-block2:checked + .dropdown,
#toggle-block3:checked + .dropdown {
    max-height: 300px;
    display: block;
    transition: all 1s;
    line-height: 35px;
}
.sidenav {
    font-size: 2.5em;
    height: 650px;
    width: 150px;
    position: absolute;
    z-index: 4;
    top: 60px;
    left: 20px;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
}
.sidenav2 {
    font-size: 2.5em;
    height: 650px;
    width: 260px;
    position: absolute;
    z-index: 4;
    top: 40px;
    right: 100px;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
}
.sidenav a,
label, 
.sidenav2 a,
.link-obs,
select {
    font-size: 0.95rem;
    padding: 0;
    margin: 0;
    margin-left: .6em;
    display: block;
    cursor: pointer;
    text-decoration: none;

    color: #818181;
    line-height: 35px;
}
.sidenav h1,
.sidenav2 h1 {
    font-size: 1.8em;
    margin-left: 15px;
}
.sidenav a:hover,
.sidenav2 a:hover,
label:hover {
    color: #f1f1f1;
}


button, html input[type=button], input[type=reset], input[type=submit], .pure-button, input {
    font-size: 1rem;
}



/*#menu {
    margin-left: 150px;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-y: auto;
}*/
div[id^=menu], img, img[id^=img] {
    position: absolute;
    float: left;
    top: 100px;
    left: 100px;
    z-index: 10;
    overflow-y: auto;

}
div[id^=menu] {
    width: 150px;
    height: 150px;
    background-color: rgba(25, 24, 24, 1);
}
#menu,
.header {
    background-color: #191818;
}
div[id^=menu]:hover,
#text:hover,
img[id^=image]:hover,
p:hover,
.select {
    -webkit-box-shadow:inset 0px 0px 0px 3px rgba(81, 203, 238, 1);
    -moz-box-shadow:inset 0px 0px 0px 3px rgba(81, 203, 238, 1);
    box-shadow:inset 0px 0px 0px 3px rgba(81, 203, 238, 1);
}
p {
    font-size: 50px;
    background-color: green;
    width: 10px;
}
ul {
    color: #00ff00;
}

h2 {
    color: #00ff00;
}
h3 {
    color: #00ff00;
}
#content {
    z-index: 1;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
}
.content {
    margin-left: 0;
    margin: 0;
    padding: 0;
    display: block;
}
.content2 {
    display: none;
}
.previews {
    width: 10%;
}

img {
    max-width: auto;
    max-height: 100%;
}




.wrap {
  padding: 40px;
  text-align: center;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}

.btn {
  background: #428bca;
  border: #357ebd solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 999999999999999999999;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}
.modal-footer {
  border-top: #eee solid 1px;
  text-align: right;
}



.overlay:target:before {
    display: none;
}
.overlay:before {
    content:"";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.overlay .overlay-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    z-index: 99999999999999;
    width: 360px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    top: 20%;
}
.overlay:target .overlay-dialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}

.note {
        position: sticky;
        z-index: 9999999999999999999;
        top: 0;
        left: 0;
        right: 0;
        background: #fde073;
        text-align: center;
        line-height: 5;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
		opacity: 0.8;
    }
    .cssanimations.csstransforms .note {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }
.note.success {background-color: #4CAF50;}
.note.info {background-color: #2196F3;}
.note.warning {background-color: #ff9800;}
